wifi_ssid: IoT
wifi_password: "IoT$eKuRe"
ota_password: "OTA_ALS0_SECCUR"
mqtt_broker: "mymqttserver"
mqtt_password: "ttqm"
lock_pin: 314
wifi_ap_lookup:
- "12:34:56:AB:CD -> Upper Floor AP"
api_encryption_key: "K3g+SB5OYgLxKtEXhWJd1Mryfy9hGol+mAq+nq/JDsY="
syslog_server: 1.2.3.4
